.home-carousel {
  .first-slide {
    background-image: url("../images/tomatoslider.png");
    background-size: cover;
    background-position: center;
    height: 15rem;
  }
  .second-slide {
    background-image: url("../images/home.jpg");
    background-size: cover;
    background-position: center;
    height: 15rem;
  }
}
